<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>homepage</h2>
    <h1>Hello, 6to. A Informatica!</h1>
    <img src="./img/imagen.webp" alt="Imagen"/>
</body>
</html>